# Feature Extraction

In [1]:
import os
import pandas as pd

clean_news_df = pd.read_csv(os.path.join(os.getcwd(),"dataset\\clean_news_df.csv"))

In [2]:
clean_news_df

,text,true_or_fake,cleaned_text
0,WASHINGTON (Reuters) - The head of a conservat...,true,washington reuters head conservative republica...
1,WASHINGTON (Reuters) - Transgender people will...,true,washington reuters transgender people allow fi...
2,WASHINGTON (Reuters) - The special counsel inv...,true,washington reuters special counsel investigati...
3,WASHINGTON (Reuters) - Trump campaign adviser ...,true,washington reuters trump campaign adviser geor...
4,SEATTLE/WASHINGTON (Reuters) - President Donal...,true,seattle washington reuters president donald tr...
...,...,...,...
44262,21st Century Wire says As 21WIRE reported earl...,fake,century wire say report earlier week unlikely ...
44263,21st Century Wire says It s a familiar theme. ...,fake,century wire say familiar theme whenever dispu...
44264,Patrick Henningsen 21st Century WireRemember ...,fake,patrick henningsen century wireremember obama ...
44265,21st Century Wire says Al Jazeera America will...,fake,century wire say jazeera america history one b...
44266,21st Century Wire says As 21WIRE predicted in ...,fake,century wire say predict new year look ahead n...

In [3]:
# remove empty values
clean_news_df.dropna(inplace=True)

In [4]:
from sklearn.preprocessing import LabelEncoder

# target variable encoding
le = LabelEncoder()
clean_news_df['true_or_fake']= le.fit_transform(clean_news_df['true_or_fake']) 

y = clean_news_df['true_or_fake']

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
 
Vectorizer = TfidfVectorizer(ngram_range=(1,3),stop_words='english',min_df=10,max_features=10000)
X = Vectorizer.fit_transform(clean_news_df['cleaned_text'])
X.shape
feature_names = Vectorizer.get_feature_names_out()

In [6]:
tdf_df = pd.DataFrame(X.toarray(), columns=feature_names, index=clean_news_df.index)
tdf_df

,aaron,abadi,abandon,abbas,abbott,abc,abc news,abc week,abdel,abdullah,...,zero,zika,zika virus,zimbabwe,zimbabwean,zinke,zone,zor,zuckerberg,zuma
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.064944,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44262,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
44263,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
44264,0.0,0.014924,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.011057,0.0,0.0,0.0,0.0,0.0,0.13577,0.0,0.0,0.0
44265,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
44266,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0

In [7]:
y = clean_news_df['true_or_fake']
y

0        1
1        1
2        1
3        1
4        1
        ..
44262    0
44263    0
44264    0
44265    0
44266    0
Name: true_or_fake, Length: 44181, dtype: int32

# Dataset Partition

In [8]:
# split into training set (test set?) and validation set

# train = 80, test = 20
# random_seed = 42

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,shuffle=True,random_state=42,test_size=0.2,stratify=y)

# Model Building

## Logistic Regression

## Naive Bayes

## Random Forest

## Gradient Boosting

In [9]:
from sklearn.ensemble import GradientBoostingClassifier

# loading the baseline model
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)

gbc.score(X_test,y_test)

0.9969446644788955